<% provide(:title, @user.name) %>
 
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>【<%= l(@first_day, format: :middle) %>】勤怠管理表</td>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class="btn-users-show">
  <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
  <%= link_to "1ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
  <%= link_to "次月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-info" %>
</div>


<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <thead>
      <tr>
        <tr>
      </tr>
    </thead>    
        <th rowspan="2" width="10">残業申請</th>
        <th rowspan="2" width="30">日付</th>
        <th rowspan="2" width="50">曜日</th>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2" width="80">在社時間</th>

        <th rowspan="2" width="30">備考</th>
      </tr>
      <tr>
        <th width="30">時</th>
        <th width="30">分</th>
        <th width="50"></th>
        <th width="30">時</th>
        <th width="30">分</th>
        <th width="10"></th>
      </tr>
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <% 
            css_class = 
        case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
        when '土'
          'text-primary'
        when '日'
          'text-danger'
        end
          %>
          
          <td><%= link_to "残業申請", edit_overwork_requsest_user_path(@user, day: day.worked_on), remote: true, class: "btn btn-primary"%></td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at.floor_to(15.minutes), format: :min) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
         <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
         <td><%= l(day.finished_at.floor_to(15.minutes), format: :min) if day.finished_at.present? %></td>
         <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
             <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="3"></td>
        <td rowspan="3"></td>
        <th></th>
        <th>累計在社時間</th>
        <th></th>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="3"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td></td>
      </tr>
    </tfoot>    
  </table>
</div>

<div id="edit_overwork_requsest" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>